
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--Todo: poner logo aca -->
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" alt="logo">
                </a>
                -->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Poner algo aca <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">404</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="center">
            <h1>Bienvenido</h1>
            <textarea id="textbox" class="form-control" placeholder="poneralgoaca" rows="1"></textarea>
            <div align="center">
                <button id="btn1" class="btn btn-mic" type="button" >
                    <i class="fas fa-microphone"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<!--show data from the db-->
{{# each residuos}}
    {{# each this}}
        {{this.nombre_residuo}}
    {{/each}}
{{/each}}